.about-me-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me-section .section-title {
    margin-bottom: var(--title-margin-bottom);
}

.about-me-section .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-me-section .section-side {
    width: 50%;
}

.about-me-section .about-me-image {
    width: 348px;
    height: 425px;
    border-radius: 20px;
    background: url("../images/eu-sorriso.jpg");
    background-size: cover;
}

.about-me-section .icons-container {
    width:100%;
    margin-top: var(--section-division);
    color: var(--dark-red);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 8px;
}

.icons-container .icon img{
    transition: opacity 0.6s;
    width: 22px; height: 22px;
    margin-right: 6px;
}

.icons-container .icon {
    display: flex;
    align-items: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px dashed gray;
}

a.clickable{
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--dark-red);
}



.clickable:hover {
    background: var(--dark-red);
    color: var(--main-content);
    border: 1px dashed var(--dark-red);
    cursor: pointer;
}

.clickable:hover img {
    opacity: 1;
}

.clickable:hover #linkedin {
    content: url("../images/icons/linkedin-white-icon.png");
}

.clickable:hover #email {
    content: url("../images/icons/email-white-icon.png");
} 

.clickable:hover #github {
    content: url("../images/icons/github-white-icon.png");
}

@media (max-width: 700px) {
    .about-me-section {
        flex-direction: column;
    }

    .about-me-section .section-title {
        width: 80%;
        margin: 0 auto;
    }

    .about-me-section .top {
        flex-direction: column;
    }

    .about-me-section .section-side {
        width: 100%;
    }

    .about-me-section .about-me-image {
        margin: 0 auto;
        width: 100%;
    }

    .about-me-section .icons-container .icon {
        padding: 1rem;
        font-size: 10pt;
    }

    .about-me-section .icons-container {
        display: grid;
        grid-template-columns: 1fr;
    }
}

