.skills-section {
    display: flex;
    flex-wrap: wrap;
}

.skills-section .section-title {
    margin-bottom: var(--title-margin-bottom);
}

.skills-section .intro {
    width: 50%; 
}

.skills-section .top {
    width: 100%;
    display: flex;
    align-items:center;
    gap: 2.8rem;
}

.skills-section .gears-image{
    width: 348px;
    height: 425px;
    border-radius: 20px;
    background: url("../images/coffee.jpg");
    background-position-x: -225px;
    background-size: cover;
    background-repeat: no-repeat;
} 



.skills-section .bottom {
    margin-top: var(--section-division);
    width: 100%;
}

.skills-section .bottom .chart-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.skills-section .bottom .chart-container .pizza-chart {
    transition: filter 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 300px;
    border-radius: 50%;
    rotate: 10deg;
    background: conic-gradient(
        #4CAF50 0% 15%, /* NodeJS 15%*/
        #E53935 15.2% 35%, /* Laravel  20%*/
        #1E88E5  35.2% 45%, /* Git e Github 10% */
        #00ACC1   45.2% 60%, /* HTML e CSS 15%*/
        #FFB300  60.2% 77%, /* Javascript 17%*/
        #9C27B0  77.2% 100% /* PHP 23%*/
    );
}

.pizza-chart {
    position: relative;
    overflow: hidden;
}

.pizza-chart::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: var(--highlight-gradient, none);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.pizza-chart.active::before {
    opacity: 1;
}


.skills-section .bottom .chart-container .inner-circle {
    z-index: 5;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--main-content);
}

.skills-section .bottom .label-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 340px;
    max-height: 240px;
    gap: 55px;
}

.skills-section .bottom .label-container .label {
    display: flex;
    font-size: 13pt;
    align-items: center;
    color: var(--dark-red);
    font-weight: 300;
    gap: 5px;
}

.skills-section .bottom .label-container .label:hover {
    cursor: pointer;
}

.skills-section .bottom .label-container .label .color {
    width: 32px; height: 32px;
    border-radius: 10px;
    background: var(--dark-red);
}

@media (max-width: 700px) {
    .skills-section {
        flex-direction: column;
        align-items: center;
    }

    .skills-section .section-title {
        width: 100%;
    }

    .skills-section .intro {
        width: 100%;
        height: auto;
    }

    .skills-section .gears-image {
        display: none;
    }

    .skills-section .bottom {
        margin-top: 0;
    }

    .skills-section .bottom .chart-container{
        margin: 1rem auto 0;
        flex-direction: column;
        gap: 3rem;
    }

}