.training-section {
    width: 100%;
}

.training-section hr {
    display: none;
}

.training-section .school-card {
    display: flex;
    align-items: center;
    justify-content: start;

}

.training-section .school-card .etec-image {
    background: url("../images/etec-image.png");
    background-position: bottom;
    background-size: cover;
    width: 500px; height: 260px;
    border-radius: 10px;
    margin-right: 3%;
}


.training-section .etec-label {
    min-width: 245px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.training-section .school-card h1 {
    font-size: 36pt;
    width: 180px;
    color: var(--section-text);
}

.training-section .school-card h3 {
    font-size: 20pt;
    font-weight: bold;
    width: 250px; 
    color:var(--dark-red);
}

.training-section .school-card p {
    font-weight: 600;
    font-size: 12pt;
    color: var(--section-text);
    
}


.training-section .self-teaching-card {
    margin-top: var(--section-division);
    display: flex;
    gap: 35px;
    width: 100%;  
}

.training-section .self-teaching-card .text {
    width: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.training-section .self-teaching-card .text h3{
    text-align: justify;
    font-size: 38pt;
    color: var(--section-text);

}

@media(max-width: 650px){
    .training-section {
        display: block;
    }
    .training-section .section-title {
        width: 100%;
        text-align: center;
    }

    .training-section .school-card {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .training-section .etec-label {
        flex-direction: row;
        justify-content: space-between;
        background: var(--links);
        width: 92%;
        padding: 1rem;
        border-radius: 20px;
    }

    .training-section .etec-label h1 {
        font-size: 23pt;
    }

    .training-section .etec-label h3 {
        font-size: 16pt;
    }


    .training-section .school-card .etec-image {
        width: 100%;
        margin: 0 auto 1.2rem;
        border-radius: 30px;
    }

    .training-section .self-teaching-card {
        display: block;
    }

    .training-section .self-teaching-card .text {
        display: block;
    }

    .training-section .self-teaching-card .text h3 {
        width: 100%;
        font-size: 30pt;
        text-align: center;
        margin-bottom: 1.2rem;
    }

    .training-section hr {
        display: block;
    }
}